.myname
{
    font-size: 25px;
    background:teal;
    width: 200px;
    height: 50px;
    margin-left: 175px;
    margin-right: 200px;
    margin-top: -10px;
    text-align: center;
    color: white;
    padding-top: 15px; 
}

.topnav

{
    color: #7777;
    margin-right: 225px;
    float: right;
    font-size: 20px;
    margin-top: -40px;
    text-align: center;
    padding-top: -10px;
    text-decoration: none;
}

.active
{
text-decoration: none;
color: darkgray;
padding: 20px;
}

.container
{
background-color:#dddddd;
width: 1700px;
height: 1500px;
margin-top: -10 px;
margin-left: -10 px;
margin-right: -10 px;
}

.box
{
background-color:#ffffff;
width: 960px;
height: 430px;
margin-left: 175px;
margin-right: 175px;
margin-top: 50px;
margin-bottom: -70px;
padding-bottom: 0px;
float:left;
text-align:center;
}

#aboutme 
{
text-align: left;
color:teal;
margin-left: 20px;
}

#contact
{
    text-align: left;
    color:teal;
    margin-left: 20px;
    }

hr
{
width: 920px;
height:.5px;
background: lightgray
}

#tomted
{
float:left;
height: 175px;
width: 175px;
margin-right: 10px;
margin-left: -30px;
}

p
{
text-align: justify;
text-justify: inter-word;
line-height: 1.25;
margin-left: 50px;
margin-top: 30px;
margin-right:25px;
margin-bottom: -10px;
float:none;
color: #777777;
}

#third
{

margin-left: 20px;
}

.footer
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color:#666666;
    color: white;
    border-top: 8px solid teal;
    margin-bottom: -80px;


}

.copyright
{
margin-left: 45%;
margin-bottom: 40px;
font-size: 15px;
color: white;
padding-bottom: 40px;

}

.contacttext
{

    text-align: left;
    color:teal;
    margin-left: 20px;

}
.form
{
text-align:left;
padding-left: 20px;
color: darkgray;
margin-right: 20px;


}

.boxed {
    border: 1px solid gray ;
  }

.johnsmith
{
    padding: 3px;
}
.example
{
padding: 3px;


}
.hidden
{
padding:40px;


}